.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  background-color: var(--bac-color-card);

  h2 {
    font-family: "Barrio", serif;
    letter-spacing: 0.05em;
    font-size: 36px;
    color: var(--color-primary);
  }
}