.error-boundary {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    padding: 10px 5px;
    cursor: pointer;
  }
}
